 <!--modal-->
 {% extends 'base.html' %}
 {% load static %}
 {% block title %}hello modal{% endblock title %}
 {% block css_files %}
 {% include 'roommanage/css.html' %}
 {% endblock css_files %}
 {% block content %}
 <div class="modal fade" id="smallModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" method="POST">
            {% csrf_token %}
            <div class="col-md-12">
              <div class="form-floating">
                <input name="reason" type="text" class="form-control" id="reason" placeholder="Your Name">
                <label for="floatingName">Reason</label>
                <input type="hidden" name="booking_date" value="{{date}}">
              </div>
            </div>
            <button type="submit" class="btn btn-success rounded-pill" style="width: 100%;">Done</button>
          </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
</div>
  {% endblock content %}